@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    color: #333;
}

body {
    margin: 0;
    background-color: #fff;
}

div, section, header, footer, nav {
    position: relative;
}

img {
    vertical-align: top;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
