.content.brand .inner {
    width: 960px;
}

.content.brand section.visual {
    height: 438px;
}
.content.brand .visual img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content.brand .visual .sign-bottom {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 10px;
    background-image: url(../img/sign-bottom.png);
}
.content.brand .each .tab-wrap {
    margin-top: 60px;
    overflow: hidden;   /*높이값이 자동으로 생김*/
}

.content.brand .each .tab {
    float: left;
    width: 240px;
    height: 42px;
    background-image: url(../img/brand-tab.gif);
    cursor: pointer;
    border-bottom: 2px solid #ffd345;
}

.content.brand .each .tab.sel {
    background-position-y: bottom;
}
.content.brand .each .tab:nth-child(2) {
    background-position-x: -240px;
}
.content.brand .each .tab:nth-child(3) {
    background-position-x: -480px;
}
.content.brand .each .tab:nth-child(4) {
    background-position-x: -720px;
}

.content.brand .each .tview {
    height: 352px;
    display: none;
}
.content.brand .each .tview.sel {
    display: block;
}
.content.brand .each .tview:nth-child(1) {
    background-image: url(../img/brand-info04.jpg);
}
.content.brand .each .tview:nth-child(2) {
    background-image: url(../img/brand-info01.jpg);
}
.content.brand .each .tview:nth-child(3) {
    background-image: url(../img/brand-info02.jpg);
}
.content.brand .each .tview:nth-child(4) {
    background-image: url(../img/brand-info03.jpg);
}

.content.brand .each .tview a.link {
    position: absolute;
    display: block;
    text-indent: -9999px;
}
.content.brand .each .tview:nth-child(1) a.link:nth-child(1) {
    top: 40px; left: 20px;
    width: 500px;
    height: 100px;
}
.content.brand .each .tview:nth-child(1) a.link:nth-child(2) {
    top: 160px; left: 20px;
    width: 290px;
    height: 170px;
}
.content.brand .each .tview:nth-child(1) a.link:nth-child(3) {
    top: 160px; left: 320px;
    width: 290px;
    height: 170px;
}

.content.brand .each .tview:nth-child(2) a.link:nth-child(1) {
    top: 40px; left: 20px;
    width: 500px;
    height: 100px;
}
.content.brand .each .tview:nth-child(2) a.link:nth-child(2) {
    top: 160px; left: 20px;
    width: 140px;
    height: 170px;
}
.content.brand .each .tview:nth-child(2) a.link:nth-child(3) {
    top: 160px; left: 180px;
    width: 140px;
    height: 170px;
}
.content.brand .each .tview:nth-child(2) a.link:nth-child(4) {
    top: 160px; left: 340px;
    width: 140px;
    height: 170px;
}

.content.brand .each .tview:nth-child(3) a.link:nth-child(1) {
    top: 40px; left: 20px;
    width: 500px;
    height: 100px;
}
.content.brand .each .tview:nth-child(3) a.link:nth-child(2) {
    top: 160px; left: 20px;
    width: 140px;
    height: 170px;
}
.content.brand .each .tview:nth-child(3) a.link:nth-child(3) {
    top: 160px; left: 170px;
    width: 140px;
    height: 170px;
}
.content.brand .each .tview:nth-child(3) a.link:nth-child(4) {
    top: 160px; left: 320px;
    width: 140px;
    height: 170px;
}
.content.brand .each .tview:nth-child(3) a.link:nth-child(5) {
    top: 160px; left: 470px;
    width: 140px;
    height: 170px;
}

.content.brand .each .tview:nth-child(4) a.link:nth-child(1) {
    top: 40px; left: 20px;
    width: 540px;
    height: 100px;
}
.content.brand .each .tview:nth-child(4) a.link:nth-child(2) {
    top: 160px; left: 20px;
    width: 140px;
    height: 170px;
}
.content.brand .each .tview:nth-child(4) a.link:nth-child(3) {
    top: 160px; left: 180px;
    width: 140px;
    height: 170px;
}
.content.brand .each .tview:nth-child(4) a.link:nth-child(4) {
    top: 160px; left: 340px;
    width: 140px;
    height: 170px;
}

.content.brand section.product {
    
}
.content.brand .brand-wrap {
    overflow: hidden;   /*양쪽에 float이 될거다.*/
    margin-top: 14px;
    border-top: 1px solid #6d4d41;
}
.content.brand .brand-name {
    float: left;
    width: 255px;
    height: 130px;
    background-image: url(../img/brand-each-title.gif);
    background-repeat: no-repeat;
    margin-top: 16px;
}
.content.brand .item-wrap {
    float: left;
    overflow: hidden;
    width: 705px;
}
.content.brand .item-wrap .item3 {
    float: left;
    width: 235px;
    height: 303px;
    background-image: url(../img/brand-each.jpg);
}
.content.brand .item-wrap .item2 {
    float: left;
    width: 352px;
    height: 303px;
    background-image: url(../img/brand-each.jpg);
}

.content.brand .brand-wrap:nth-child(1) a:nth-child(1) {
    background-position: 0 0;
}
.content.brand .brand-wrap:nth-child(1) a:nth-child(2) {
    background-position: -235px 0;
}
.content.brand .brand-wrap:nth-child(1) a:nth-child(3) {
    background-position: -470px 0;
}
.content.brand .brand-wrap:nth-child(1) a:nth-child(4) {
    background-position: 0 -303px;
}
.content.brand .brand-wrap:nth-child(1) a:nth-child(5) {
    background-position: -235px -303px;
}
.content.brand .brand-wrap:nth-child(1) a:nth-child(6) {
    background-position: -470px -303px;
}

.content.brand .brand-wrap:nth-child(2) a:nth-child(1) {
    height: 292px;
    background-position: 0 -1824px;
}
.content.brand .brand-wrap:nth-child(2) a:nth-child(2) {
    height: 292px;
    background-position: -353px -1824px;
}

.content.brand .brand-wrap:nth-child(3) a:nth-child(1) {
    background-position: 0 -606px;
}
.content.brand .brand-wrap:nth-child(3) a:nth-child(2) {
    background-position: -353px -606px;
}
.content.brand .brand-wrap:nth-child(3) a:nth-child(3) {
    background-position: 0 -909px;
    height: 302px;
}
.content.brand .brand-wrap:nth-child(3) a:nth-child(4) {
    background-position: -235px -909px;
    height: 302px;
}
.content.brand .brand-wrap:nth-child(3) a:nth-child(5) {
    background-position: -470px -909px;
    height: 302px;
}

.content.brand .brand-wrap:nth-child(4) a:nth-child(1) {
    background-position: 0 -1211px;
}
.content.brand .brand-wrap:nth-child(4) a:nth-child(2) {
    background-position: -353px -1211px;
}

.content.brand .brand-wrap:nth-child(5) a:nth-child(1) {
    background-position: 0 -1514px;
}
.content.brand .brand-wrap:nth-child(5) a:nth-child(2) {
    background-position: -353px -1514px;
}

.content.brand .brand-wrap:nth-child(2) .brand-name {
    background-position: 0 -606px;
}
.content.brand .brand-wrap:nth-child(3) .brand-name {
    background-position: 0 -130px;
}
.content.brand .brand-wrap:nth-child(4) .brand-name {
    background-position: 0 -268px;
}
.content.brand .brand-wrap:nth-child(5) .brand-name {
    background-position: 0 -430px;
}