@charset "utf-8";
/* CSS Document */

section.technologies {
	height: 100vh;
	background-color: #fff;
}

section.technologies .title {
	font-size: 30px;
	position: absolute;
	top: 100px; left: 50%;
	transform: translateX(-50%);
}

.layout-inner {
	width: 1000px;
	max-width: 1000px;
	
	position: absolute;
	top: 200px; left: 50%;
	transform: translateX(-50%);
	padding: 0 100px;
}

.slider {
	width: 100%;
	padding-top: 50%;
	overflow: hidden;
}

.slider .inner {
	position: absolute;
	width: 200%;
	top: 0; bottom: 0;
	transition: transform 0.5s;
}
.moved {
	transform: translate3d(-50%, 0,0);
}

.slide {
	width: 50%;
	padding-top: 25%;
	float: left;
}

.prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: 1px solid #999;
	border-radius: 50%;
	overflow: hidden;
	transition: background-color 0.2s;
	background-color: rgba(255, 255, 255, 0.7);
}
.prev {
	left: 0;
	display: none;
}
.prev:before {
	content: '';
	width: 10px;
	height: 10px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	position: absolute;
	top: 50%; left: 120%;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: left 0.2s;
}
.prev:hover:before {
	border-color: #fff;
	left: 50%;
}
.prev:after {
	content: '';
	width: 10px;
	height: 10px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: left 0.2s;
}
.prev:hover {
	background-color: #000;
}
.prev:hover:after {
	left: -20%;
}

.next {
	right: 0;
}
.next:before {
	content: '';
	width: 10px;
	height: 10px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	position: absolute;
	top: 50%; left: -25%;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: left 0.2s;
}
.next:hover:before {
	border-color: #fff;
	left: 45%;
}
.next:after {
	content: '';
	width: 10px;
	height: 10px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: absolute;
	top: 50%; left: 45%;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: left 0.2s;
}
.next:hover {
	background-color: #000;
}
.next:hover:after {
	left: 100%;
}

@media (max-width: 1000px){
	.layout-inner {
		width: 100%;
		padding: 0;	
	}
	.slide .desc .desc-text {
		font-size: 1em;
	}
}

.slide .desc {
	position: absolute;
	width: 50%;
	top: 0; bottom: 0;
	background-color: #f5f5f5;
}
.slide .image {
	position: absolute;
	width: 50%;
	top: 0; bottom: 0;
	left: 50%;
}
.slide .image img {
	height: 100%;
}

@media (max-width: 600px){
	.slider {
		padding-top: 100%;
	}
	.slide {
		padding-top: 50%;
	}
	.slider .desc {
		display: none;
	}
	.slider .image {
		left: 0;
		width: 100%;
	}
}