@charset "utf-8";
/* CSS Document */

section.visual .bg {
	position: fixed;
	top: 0; left: -10%; right: -10%;
	height: 100vh; /*100%로 쓰면 먹지 않음*/
	
	background-image: url(../img/visual.jpg);
	background-position: center bottom;
	background-size: cover;
	transition: transform 1s ease-out;
}

section.visual .cover {
	background-color: rgba(41,39,36, 0.5);
	height: 100vh;
	margin-top: 100vh;
}

section.visual .title {
	width: 320px;
	height: 62px;
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(http://www.amorepacific.com/int/ko/brands/sulwhasoo/_jcr_content/content/image_3.png/1482129002343.png);
}

section.visual .cover .cover-wrap {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

section.visual .cover .cover-title {
	font-size: 40px;
	font-weight: bold;
}
section.visual .cover .cover-text {
	font-size: 20px;
	margin-top: 40px;
}
section.visual .cover .cover-text:before {
	content: '';
	position: absolute;
	width: 60px;
	height: 1px;
	background-color: #fff;
	left: 50%; top: -20%;
	transform: translateX(-50%);
}
