@charset "utf-8";
/* CSS Document */

section.brand {
	height: 150vh;
	background-color: #fff;
}

section.brand .brand-wrap {
	padding: 5%;
	margin: 5%;
	position: absolute;
	top: 100px; left: 0; right: 0;
}

section.brand .b-name {
	float: left;
	width: 20%;
	padding-top: 10%;
	overflow: hidden;
	cursor: pointer;
}

section.brand .b-name:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}

section.brand .b-name .image {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	transition: transform 1s;
}
section.brand .b-name:hover .image {
	transform: scale(1.1);
}
section.brand .b-name:nth-child(1) .image {
	background-image: url(../img/1.png);
}
section.brand .b-name:nth-child(2) .image {
	background-image: url(../img/2.png);
}
section.brand .b-name:nth-child(3) .image {
	background-image: url(../img/3.png);
}
section.brand .b-name:nth-child(4) .image {
	background-image: url(../img/4.png);
}
section.brand .b-name:nth-child(5) .image {
	background-image: url(../img/5.png);
}
section.brand .b-name:nth-child(6) .image {
	background-image: url(../img/6.png);
}
section.brand .b-name:nth-child(7) .image {
	background-image: url(../img/7.png);
}
section.brand .b-name:nth-child(8) .image {
	background-image: url(../img/8.png);
}
section.brand .b-name:nth-child(9) .image {
	background-image: url(../img/9.png);
}
section.brand .b-name:nth-child(10) .image {
	background-image: url(../img/10.png);
}
section.brand .b-name:nth-child(11) .image {
	background-image: url(../img/11.png);
}
section.brand .b-name:nth-child(12) .image {
	background-image: url(../img/12.png);
}
section.brand .b-name:nth-child(13) .image {
	background-image: url(../img/13.png);
}
section.brand .b-name:nth-child(14) .image {
	background-image: url(../img/14.png);
}
section.brand .b-name:nth-child(15) .image {
	background-image: url(../img/15.png);
}
section.brand .b-name:nth-child(16) .image {
	background-image: url(../img/16.png);
}
section.brand .b-name:nth-child(17) .image {
	background-image: url(../img/17.png);
}
section.brand .b-name:nth-child(18) .image {
	background-image: url(../img/18.png);
}
section.brand .b-name:nth-child(19) .image {
	background-image: url(../img/19.png);
}
section.brand .b-name:nth-child(20) .image {
	background-image: url(../img/20.png);
}

section.brand .b-name .cover {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(0, 82, 149, 0.7);
	opacity: 0;
	visibility: hidden;
}

section.brand .b-name .text {
	margin: 30px;
	color: #f0f0f0;
}

section.brand .b-name:hover .cover {
	opacity: 1;
	visibility: visible;
}

@media (max-width: 1000px){
	section.brand {
		padding: 0;
		margin: 0;
		height: 220vh;
	}
	section.brand .b-name {
		width: 33.33%;
		padding-top: 33.33%;
	}
	section.brand .b-name:nth-child(19) {
		width: 50%;
		padding-top: 33.33%;
	}
	section.brand .b-name:nth-child(20) {
		width: 50%;
		padding-top: 33.33%;
	}
}
@media (max-width: 600px){
	section.brand .b-name {
		width: 50%;
		padding-top: 50%;
	}
	section.brand {
		height: 250vh;
	}
}