@charset "utf-8";
/* CSS Document */

section.dogma1 {
	height: 100vh;
	background-color: #fff;
}

section .title {
	position: absolute;
	top: 100px; left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	color: #353535;
}

.layout-inner {
	width: 1000px;
	max-width: 1000px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.slider {
	width: 100%;
	padding-top: 50%;
	overflow: hidden;
	cursor: pointer;
}

.slider .inner {
	width: 500%;
	position: absolute;
	top: 0; bottom: 0;
}

.slide {
	width: 20%;
	float: left;
}

.prev, .next {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	border: 1px solid #353535;
	cursor: pointer;
}
.prev {
	 left: 350px;
	 transition: background-color 0.3s;
	 display: none;
}
.prev:hover {
	background-color: #353535;
}
.prev:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	border-top: 1px solid #353535;
	border-left: 1px solid #353535;
	transition: left 0.3s;
	opacity: 1;
}
.prev:hover:after {
	left: 0;
	opacity: 0;
}
.prev:before {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%; left: 100%;
	transform: translate(-50%, -50%) rotate(-45deg);
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	transition: left 0.3s;
	opacity: 0
}
.prev:hover:before {
	left: 50%;
	opacity: 1;
}
.next {
	right: 350px;
	transition: background-color 0.5s;
}
.next:hover {
	background-color: #353535;
}
.next:after {
	content: '';
	position: absolute;
	top: 50%; left: 50%;
	width: 10px; height: 10px;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: left 0.3s;
	opacity: 1;
}
.next:hover:after {
	left: 100%;
	opacity: 0;
}
.next:before {
	content: '';
	position: absolute;
	top: 50%; left: 0%;
	width: 10px; height: 10px;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: left 0.3s;
	opacity: 0;
}
.next:hover:before {
	left: 50%;
	opacity: 1;
}

.circle-wrap {
	position: absolute;
	top: 80px; left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px){
	.layout-inner {
		width: 100%;
		padding: 0;
	}
}
